.emoji-card {
  width: 316px;
  height: 184px;
  background: #fff;
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.emoji-card__symbol {
  font-size: 48px;
}

.emoji-card__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #000000;
}

.emoji-card__keywords {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #3f444a;
}
