main {
  width: 100%;
  padding: 80px 0 51px;
  margin: 0 auto;
  background-color: #d4d3d8;
  display: grid;
  grid-template-columns: repeat(3, 316px);
  grid-auto-flow: row;
  gap: 19px;
  justify-content: center;
  position: relative;
}

input {
  width: 820px;
  height: 64px;
  background: #fff;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  top: -0;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[placeholder] {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 21px;
  color: #abb5be;
  padding-left: 32px;
  box-sizing: border-box;
}

input:focus {
  outline: 1px solid #ccf8ff;
  color: #3f444a;
}

.hr_bottom {
  margin: 0 auto;
  max-width: 976px;
  padding: 0;
}

footer {
  margin: 19px auto;
  display: flex;
  justify-content: space-between;
}

button {
  border: 0;
  color: #055160;
  background: #ffffff;
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  
}

button:focus {
  background: #055160;
  color: #ffffff;
}

button:active, .active-page {
  background: #055160;
  color: #ffffff;
}

.pagination {
  display: flex;
  border-radius: 4px 0px 0px 4px;
}

.button-navigate {
  padding: 12px 14px;
}

.button-paginate {
}

@media (max-width: 1024px) {
  main {
    grid-template-columns: repeat(2, 316px);
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: repeat(1, 316px);
  }
}
