@import-normalize;
@import '../node_modules/reset-css/reset.css';

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #d4d3d8;
}

.container-size {
  max-width: 976px;
}

/* FONTS */
/* font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
